/*-----------------------------------CSS cambio colore-----------------------------------*/

#quadratoColore {
    /* impostare larghezza e altezza  */
    width: 100px;
    height: 100px;
    /* imposto il colore del quadrato */
    background-color: red;
}

/* riscrivo la classe e aggiungo il comando dell hover  */
#quadratoColore:hover {
    /* qui posso scrivere quello che deve 
    succedere quando passo con il mouse */
    background-color: blueviolet;
}


/*-----------------------------------CSS animazione pulsa-----------------------------------*/
#quadratoPulsa {
    /* impostare larghezza e altezza  */
    width: 100px;
    height: 100px;
    /* imposto il colore del quadrato */
    background-color: red; 
}

/* per applicare l'animazione devo chiamarla nel css  */
#quadratoPulsa:hover {
    /* chiamo l'animazione  */
    animation: pulsa 1s linear infinite alternate;
    /* nome animazione, lineare, che funziona all'infinito in modo alternato */
}

/* devo creare una animazione personalizzata  */
/* per crearla si usa keyframes  */
@keyframes pulsa {
    /* qui vado a scrivere i vari punti nel tempo */
    0% {
        /*non cambia dimensioni al momento iniziale*/
        transform: scale(1); 
    }

    50% {
        /* rimpicciolisco del 70%  */
        transform: scale(0.7);  
    }

    100% {
        transform: scale(1); /*torno alla dimensione iniziale*/
    }
}

/*-----------------------------------CSS animazione rotazione-----------------------------------*/
#quadratoRuota {
    /* impostare larghezza e altezza  */
    width: 100px;
    height: 100px;
    /* imposto il colore del quadrato */
    background-color: red;
}

#quadratoRuota:hover {
    /* aggiungo rotazione di qualche grado  */
    transform: rotate(10deg);
    /* trasformazione di rotazione di 10 gradi  */
    /* per farlo fluido aggiungo il tempo di animazione */
    transition: 1s;
}


/*-----------------------------------CSS animazione bordo-----------------------------------*/
#quadratoBordo {
    /* impostare larghezza e altezza  */
    width: 90px;
    height: 90px;
    /* imposto il colore del quadrato */
    background-color: red;
    border: 5px solid red;
}

/* animazione che cambia il colore e il bordo */
#quadratoBordo:hover {
    /* tolgo il colore di sfondo */
    background-color: transparent;
    /* aggiungo il bordo  */
    border: 5px solid red;
    transition: 0.5s;
}

/*-----------------------------------CSS animazione caricamento-----------------------------------*/
/* faccio il cerchio più piccolo da animare  */
#cerchioCaricamento {
    height: 30px;
    width: 30px;
    background-color: aqua;
    /* per fare il cerchio si usa border radius  */
    border-radius: 50%;
    animation: oscilla 2s ease infinite;
    /* ease fa che accelera e rallenta */
}

/* Creo l'animazione del cerchio che oscilla  */

@keyframes oscilla {
    /* traslo in orizzontale */
    0% {transform: translateX(0);}
    50% {transform: translateX(100px);}
    100% {transform: translateX(0);}
}


/*-----------------------------------CSS animazioni combinate-----------------------------------*/

#formaCombinate {
     /* impostare larghezza e altezza  */
     width: 100px;
     height: 100px;
     /* imposto il colore del quadrato */
     background-color: red;
     animation: animazioneCombinata 2s ease infinite;
}

@keyframes animazioneCombinata {
    /* inserisco 5 keyframes nei quali inserirò le proprietà  */
    /* che mi servono */
    /* posso inserire più di una proprietà per keyframe  */
    0%{
        background-color: red;
        transform: scale(1);
    }
    25%{
        transform: scale(0.5);
    }
    50%{
        background-color: green;
    }
    75%{
        transform: scale(1.5);
    }
    100%{
        background-color: red;
        transform: scale(1);
    }
    }